body {
  margin: 0;
  font-family: sans-serif;
  font-size: 10pt;
  overflow: hidden;
}

body, input {
  background: #22222b;
}

body, input, a{
  color: #eee;
  text-decoration: none;
}

h1 {
  font-size: 18pt;
}

h2 {
  margin: 0.5em;
  margin-top: 0;
  text-align: center;
}

input {
  border: 1px solid #aaa;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.loading,
input {
  font-size: 12pt;
  display: flex;
  margin: 5px;
  text-align: center;
  max-height: 2em;
  min-height: 2em;
  align-items: center;
}

.failures {
  position: absolute;
  z-index: 1;
  bottom: 0;
  background: maroon;
  padding: 4px; 
  margin: 4px; 
  display: flex;
  align-items: center;
}

.failures button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
  font-size: 10px;
  background: maroon;
  color: white;
  border: 1px solid #bbb;
  width: 20px;
  height: 20px;
}
.failures button:hover {
  background: #a11;
}

.model {
  position: absolute;
}

.thumbnails {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow-y: auto;
  padding: 0 20px;
}

.thumbnail {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.thumbnail img {
  margin-bottom: 5px;
}

.thumbnail > a {
  max-width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.thumbnail > a:hover {
  text-decoration: underline;
}
